body,
p {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
}

ul {
    margin: 0;
}

.m_link {
    font-weight: bold;
    color: darkcyan;
}

.m_link:hover {
    color: coral;
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }

    #grid #navigation {
        border-bottom: 1px solid grey;
        padding: 33px 5px;
    }

    #grid #article {
        padding-left: 25px;
    }
}

@media(min-width:800px) {
    #grid {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    #grid #navigation {
        border-right: 1px solid grey;
        border-bottom: none;
        padding: 33px 5px;
    }

    #grid #article {
        padding-left: 25px;
    }
}
